body {
  margin: 0;
  font-family: Arial, sans-serif;
}



.popup-nav {
  background-color: #e8e9ea;
  color: #b5b7ba;
  padding: 10px;
  text-align: center;
}

.popup-content {
  flex-grow: 1;
  padding: 10px;
  background-color: #ffffff;
  overflow-y: auto;
}

.popup-footer {
  background-color: #e8e9ea;
  padding: 8px;
  text-align: center;
}
